<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.voucher.manage2.tkmapper.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.voucher.manage2.tkmapper.entity.Role">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="RoleName" jdbcType="VARCHAR" property="rolename" />
    <id column="BelongUnit" jdbcType="VARCHAR" property="belongunit" />
    <result column="GUID" jdbcType="VARCHAR" property="guid" />
    <result column="ViewList" jdbcType="VARCHAR" property="viewlist" />
    <result column="AllList" jdbcType="BIT" property="alllist" />
    <result column="SystemManage" jdbcType="BIT" property="systemmanage" />
    <result column="systempara" jdbcType="BIT" property="systempara" />
    <result column="RoleManage" jdbcType="BIT" property="rolemanage" />
    <result column="usermanage" jdbcType="BIT" property="usermanage" />
    <result column="dictionary" jdbcType="BIT" property="dictionary" />
    <result column="FileRelate" jdbcType="BIT" property="filerelate" />
    <result column="SysLog" jdbcType="BIT" property="syslog" />
    <result column="RoomBaseData" jdbcType="BIT" property="roombasedata" />
    <result column="addroom" jdbcType="BIT" property="addroom" />
    <result column="updateroom" jdbcType="BIT" property="updateroom" />
    <result column="delroom" jdbcType="BIT" property="delroom" />
    <result column="updateChartInfo" jdbcType="BIT" property="updatechartinfo" />
    <result column="EditOweHire" jdbcType="BIT" property="editowehire" />
    <result column="BussinessOpt" jdbcType="BIT" property="bussinessopt" />
    <result column="chart" jdbcType="BIT" property="chart" />
    <result column="Relet" jdbcType="BIT" property="relet" />
    <result column="HireIn" jdbcType="BIT" property="hirein" />
    <result column="exitchart" jdbcType="BIT" property="exitchart" />
    <result column="changehire" jdbcType="BIT" property="changehire" />
    <result column="changename" jdbcType="BIT" property="changename" />
    <result column="UnChangeName" jdbcType="BIT" property="unchangename" />
    <result column="Pawn" jdbcType="BIT" property="pawn" />
    <result column="CancelPawn" jdbcType="BIT" property="cancelpawn" />
    <result column="repairmanage" jdbcType="BIT" property="repairmanage" />
    <result column="RoomPropertyDecrease" jdbcType="BIT" property="roompropertydecrease" />
    <result column="backout" jdbcType="BIT" property="backout" />
    <result column="sellout" jdbcType="BIT" property="sellout" />
    <result column="destory" jdbcType="BIT" property="destory" />
    <result column="dispart" jdbcType="BIT" property="dispart" />
    <result column="roomover" jdbcType="BIT" property="roomover" />
    <result column="RoomFileManage" jdbcType="BIT" property="roomfilemanage" />
    <result column="FileAdd" jdbcType="BIT" property="fileadd" />
    <result column="FileDelete" jdbcType="BIT" property="filedelete" />
    <result column="FilePrint" jdbcType="BIT" property="fileprint" />
    <result column="SystemQuery" jdbcType="BIT" property="systemquery" />
    <result column="HirelistQuery" jdbcType="BIT" property="hirelistquery" />
    <result column="OweHireQuery" jdbcType="BIT" property="owehirequery" />
    <result column="roomlog" jdbcType="BIT" property="roomlog" />
    <result column="RoomPrAdd" jdbcType="BIT" property="roompradd" />
    <result column="RoomPrDecrease" jdbcType="BIT" property="roomprdecrease" />
    <result column="roomrepairquery" jdbcType="BIT" property="roomrepairquery" />
    <result column="RoomPawn" jdbcType="BIT" property="roompawn" />
    <result column="SystemReport" jdbcType="BIT" property="systemreport" />
    <result column="detaillist" jdbcType="BIT" property="detaillist" />
    <result column="currentstate" jdbcType="BIT" property="currentstate" />
    <result column="chartinforeport" jdbcType="BIT" property="chartinforeport" />
    <result column="roomcasereport" jdbcType="BIT" property="roomcasereport" />
    <result column="Other" jdbcType="BIT" property="other" />
    <result column="delroomlog" jdbcType="BIT" property="delroomlog" />
    <result column="FloorManage" jdbcType="BIT" property="floormanage" />
    <result column="PrintData" jdbcType="BIT" property="printdata" />
    <result column="complexquery" jdbcType="BIT" property="complexquery" />
    <result column="HireUpdate" jdbcType="BIT" property="hireupdate" />
    <result column="roomqchz" jdbcType="BIT" property="roomqchz" />
    <result column="roomzcrz" jdbcType="BIT" property="roomzcrz" />
    <result column="roomzccz" jdbcType="BIT" property="roomzccz" />
    <result column="stophirein" jdbcType="BIT" property="stophirein" />
    <result column="beginhirein" jdbcType="BIT" property="beginhirein" />
    <result column="changeroomstate" jdbcType="BIT" property="changeroomstate" />
    <result column="changefree" jdbcType="BIT" property="changefree" />
    <result column="telephonebook" jdbcType="BIT" property="telephonebook" />
    <result column="monthhirereport" jdbcType="BIT" property="monthhirereport" />
    <result column="yearhirereport" jdbcType="BIT" property="yearhirereport" />
    <result column="monthhire" jdbcType="BIT" property="monthhire" />
    <result column="backrent" jdbcType="BIT" property="backrent" />
    <result column="chartquery" jdbcType="BIT" property="chartquery" />
    <result column="hirelisttotal" jdbcType="BIT" property="hirelisttotal" />
    <result column="hirephyear" jdbcType="BIT" property="hirephyear" />
    <result column="hirelistft" jdbcType="BIT" property="hirelistft" />
    <result column="znj" jdbcType="BIT" property="znj" />
    <result column="repairyearreport" jdbcType="BIT" property="repairyearreport" />
    <result column="repairList" jdbcType="BIT" property="repairlist" />
    <result column="propertychecktotal" jdbcType="BIT" property="propertychecktotal" />
    <result column="safetychecktotal" jdbcType="BIT" property="safetychecktotal" />
    <result column="hiddenquery" jdbcType="BIT" property="hiddenquery" />
    <result column="propertylay" jdbcType="BIT" property="propertylay" />
    <result column="road" jdbcType="BIT" property="road" />
    <result column="depreciation" jdbcType="BIT" property="depreciation" />
    <result column="messagecase" jdbcType="BIT" property="messagecase" />
    <result column="propertytotal" jdbcType="BIT" property="propertytotal" />
    <result column="hidden" jdbcType="BIT" property="hidden" />
    <result column="HireManage" jdbcType="BIT" property="hiremanage" />
    <result column="LoginView" jdbcType="BIT" property="loginview" />
  </resultMap>
</mapper>